@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@300;400;500&display=swap');
body {
    background-color:#fff;
}

.main-container {
    width: 450px;
    padding: 40px;
    height: auto;
}

.first svg {
    margin-bottom: 20px;
}

.first svg,h4 {
    align-self: center;
    font-family: "Google Sans","Noto Sans Myanmar UI",arial,sans-serif;
    font-weight: 400;
}

.first h6 {
    font-family: "Google Sans","Noto Sans Myanmar UI",arial,sans-serif;
    font-weight: 300;
    margin: 5px;
    align-self: center;
}

.form-floating {
    font-family: roboto,"Noto Sans Myanmar UI",arial,sans-serif;
}

.form-floating a {
    text-decoration: none;
    font-size: 14px;
    color: #1a73e8;
    font-weight: 500;
}

.my-5 {
    color: #5f6368;
    font-size: 14px;
    line-height: 1.4286;
    font-weight: 400;
}

.button-container {
    font-size: 14px;
}
.button-container a{
    align-self: center;
}


.links {
    margin-top: 32px;
    font-size: 14px;
}

.links p {
    margin-right: 18px;
}

.links a {
    text-decoration: none;
    color: #000;
}

@media (max-width:1024px) {
    .main-container {
        padding: 32px;
        font-size: large;
        margin-right: 30px;
        margin-left: 30px;
        width:350px;
    }
}
